# Dependencies
node_modules

# Build output
dist

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
dev.log

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Vite
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
